table-tareas{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background: #f8c8dc;
    color: black;
    text-align: center;
}
tr:not(.fase) {
    background: white; /* Fondo blanco para las filas normales */
}
.fase {
    font-weight: bold;
    text-align: left;
}
.fase-1 { background: #cacef3; }
.fase-2 { background: #fff2cc; }
.fase-3 { background: #d2f7f9; }
.fase-4 { background: #cacef3; }
.fase-5 { background: #fff2cc; }
.fase-6 { background: #d2f7f9; }

/*Tablas con el cronograma de los 4 meses*/

.cronograma {
    width: 100%;
    margin: 5px auto;
    border-collapse: collapse;
}

.cronograma th, .cronograma td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: #f8c8dc;
}

.dia-blanco{
    background-color: #ffffff;
}

/*MORADO*/
.mes-header-morado{
    background-color: #cacef3;
}

.dia-header-morado {
    background-color: #cacef3;
    font-weight: bold;
    text-align: center;
}

.dia-morado{
    background-color: #cacef3;
}

/*AMARILLO*/
.mes-header-amarillo{
    background-color: #fff2cc;
}

.dia-header-amarillo {
    background-color: #fff2cc;
    font-weight: bold;
    text-align: center;
}

.dia-amarillo{
    background-color: #fff2cc;
}

/*AZUL*/
.mes-header-azul{
    background-color: #d2f7f9;
}

.dia-header-azul {
    background-color: #d2f7f9;
    font-weight: bold;
    text-align: center;
}

.dia-azul{
    background-color: #d2f7f9;
}
